{% extends 'base.html' %}
{% load static %}

{% block title %}
    Searching results :: {{ block.super }}
{% endblock %}

{% block content %}

    <section class="blog-post-area single-blog-area">
        <div class="container">
            <div class="row">
                <div class="border-top">
                    <div class="blog-post-area-style">

                        {% for post in posts %}

                            <div class="col-md-3">
                                <div class="single-post">

                                    {% if post.photo %}
                                        <a href="{{ post.get_absolute_url }}">
                                            <img src="{{ post.photo.url }}" alt="{{ post.title }}">
                                        </a>
                                    {% else %}
                                        <a href="{{ post.get_absolute_url }}">
                                            <img src="https://picsum.photos/id/1015/300/201.jpg?hmac=CYky_ykaGPpaK4V7bIaGwPsCpdhU09hArnCyAGVXobs"
                                                 alt="{{ post.title }}">
                                        </a>
                                    {% endif %}

                                    <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h3>
                                    <h4><span>Posted By: <span class="author-name">{{ post.author }}</span></span>
                                    </h4>
                                    <p>
                                        {{ post.content|safe|truncatewords_html:20 }}
                                    </p>
                                    <h4><span>{{ post.created_at|date:'Y-m-d' }}</span></h4>
                                </div>
                            </div>

                        {% empty %}

                            <h1 style="text-align: center">Nothing...</h1>

                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        {% include 'blog_app/inc/_pagination.html' %}

    </section>

{% endblock %}
